<!DOCTYPE html>
<html class="has-background-dark">
  <head>
    <title><%= content_for(:title) || "Anime Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  </head>

  <body>
    <header class="column mt-4">
        <div class="ml-4">
          <h1 class="is-uppercase title is-3"><%= link_to 'AnimeDB', root_path, class: 'has-text-light' %></h1>
        </div>
    </header>

  <div class="columns">
    <div class="column mx-5">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start is-uppercase has-text-weight-medium">
          <span class="navbar-item"><%= link_to 'Home', root_path, class: 'has-text-light' %></span>
          <span class="navbar-item"><%= link_to 'All Animes', animes_path, class: 'has-text-light' %></span>
          <span class="navbar-item"><%= link_to 'Genres', genres_path, class: 'has-text-light' %></span>
          <span class="navbar-item"><%= link_to 'Studios', studios_path, class: 'has-text-light' %></span>
          <span class="navbar-item"><%= link_to 'About', about_path, class: 'has-text-light' %></span>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="select is-rounded">
              <select onchange="location = this.value;">
                  <option disabled selected>Select Genre</option>
                <% @genres.each do |genre| %>
                  <option value="<%= genre_path(genre) %>"><%= genre.genre_name %></option>
                <% end %>
              </select>
            </div>
            <%= form_with url: search_animes_path, method: :get, local: true do |form| %>
              <div class="field has-addons">
                <div class="control">
                  <%= form.text_field :query, placeholder: "Search Anime", class: "input is-rounded is-hovered" %>
                </div>
                <div class="control">
                  <%= form.submit "Search", class: "button is-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
